*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: fantasy;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffdfd;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

/* ===== */

.next-section {
    background-color: #fff;
    padding: 80px 10px;
    text-align: center;
}

.next-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.next-section p {
    font-size: 1.2rem;
}